// *********************************
// Variables
// *********************************
$main-font: 'Lato', sans-serif;

// *********************************
// Colors
// *********************************
$main-color: #5197a5;
$secondary-color: #eef61f;
