// *********************************
// Variables
// *********************************
$main-font: 'Lato', sans-serif;

// *********************************
// Colors
// *********************************
// $main-color: #5197a5;

$main-color: #46258d;
$secondary-color: #eef61f;
$helper-color: #fff;
$secondary-helper-color: #000;
