// ***************
// Section
// ***************

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0 30px;
  background: $main-color;

  @include respond-at(800px){
    padding-top: 20px;
    padding-bottom: 70px;
  }

  &--hidden {
    display: none;
  }

  .main-text {
    text-align: center;
    font-size: 2em;
    line-height: 2em;

    &__important {
      padding: 5px 10px;
      background-color: $secondary-color;
      color: $main-color;
      font-weight: bold;
      border-radius: 7px;
      box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
    }
  }

  .secondary-text {
    text-align: center;
    font-size: 1em;
  }

  .info-text {
    margin-bottom: 15px;
    text-align: left;
    font-size: 1.2em;
  }
}
